Source: wazo-sync
Section: admin
Priority: optional
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 12)
Standards-Version: 3.9.6

Package: wazo-sync
Architecture: all
Depends: ${misc:Depends}, openssh-client, python3, rsync, xivo-lib-python-python3, rename
Provides: xivo-sync
Replaces: xivo-sync
Conflicts: xivo-sync
Description: Wazo synchronization utility for HA
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
